#root {
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #ff8b94;
  text-decoration: none;
}

ul li {
  list-style: none;
}

input {
  &:focus-visible {
    outline: none;
  }
}

.body-wrapper {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}
.title {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  padding: 32px 0;
  margin: 0;
  position: absolute;
  background: white;
}
.todos-wrapper {
  margin-top: 122px;
  max-height: 750px;
  overflow-y: scroll;
}

/* Todo Card */
.todo-card-wrapper {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
